header {
  background-color: rgba(27, 27, 48, 0.801);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 2rem;
    box-shadow: 0 10px 10px rgba(149, 147, 247, 0.226);
  }