
.musicCard {
  box-sizing:border-box;
  display: flex;
  justify-content: flex-start;
  width: 90%;
  padding: 1rem;
  margin: 1rem auto;
  background-color: #384d7571;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.musicCard img {
  width: 7rem;
  height: 7rem;
  border-radius: 0.5rem;
  margin: auto 0;
}

.musicInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 100%;
  color: white;
  margin-left: 1rem;
}

.musicInfo h2, .musicInfo p {
  font-size: 1.5rem;
  margin: 0;
  align-self: start;
}

button {
  background-color: #ffffff;
  color: #967147;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: auto 0;
  cursor: pointer;
}

button:hover {
  background-color: #8383a7;
  color: rgb(17, 0, 255);
  box-shadow: 2px 2px 5px rgba(177, 170, 241, 0.884);
  border: 1px solid #7371d6;
}